{% extends 'movie_base.html' %}
{% block content %}
    <div class="space">
    <link href="static/ninja-slider.css" rel="stylesheet" />
    <script src="static/ninja-slider.js"></script>
    <link href="static/thumbnail-slider.css" rel="stylesheet" type="text/css" />
    <script src="static/thumbnail-slider.js" type="text/javascript"></script>
    <!--start-->
    <div style="width:1000px;margin:80px auto;">
        <div id="ninja-slider" style="float:left;">
            <div class="slider-inner">
                <ul>
                    <li><a class="ns-img" href="static/1.jpg"></a></li>
                    <li><a class="ns-img" href="static/2.jpg"></a></li>
                    <li><a class="ns-img" href="static/3.jpg"></a></li>
                    <li><a class="ns-img" href="static/4.jpg"></a></li>
                    <li><a class="ns-img" href="static/5.jpg"></a></li>
                    <li><a class="ns-img" href="static/6.jpg"></a></li>
                    <li><a class="ns-img" href="static/7.jpg"></a></li>
                    <li><a class="ns-img" href="static/8.jpg"></a></li>
                    <li><a class="ns-img" href="static/9.jpg"></a></li>
                    <li><a class="ns-img" href="static/10.jpg"></a></li>
                    <li><a class="ns-img" href="static/11.jpg"></a></li>
                    <li><a class="ns-img" href="static/12.jpg"></a></li>
                </ul>
                <div class="fs-icon" title="Expand/Close"></div>
            </div>
        </div>
        <div id="thumbnail-slider" style="float:left;">
            <div class="inner">
                <ul>
                    <li>
                        <a class="thumb" href="static/1.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/2.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/3.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/4.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/5.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/6.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/7.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/8.jpg"></a>
                    </li>
                    <li>
                        <a class="thumb" href="static/9.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

    </div>
{% endblock %}
