<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>search</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function like(id) {
            $.ajax({
                url: "/movie/ajax/like",
                type: "POST",
                data: ({'movie': id}),
                success: function (content) {

                    var old_text = document.getElementById(id).innerText;
                    if (old_text == "like") {
                        document.getElementById(id).innerText = "dislike";
                    }
                    else {
                        document.getElementById(id).innerText = "like";
                    }

                }
            })
            return false;
        }
    </script>
</head>
<body>
{% if movies %}
    {% for movie_obj in movies %}
<li>
    movie name = {{ movie_obj.movie.name }}
</li>
<li>
    plot = {{ movie_obj.movie.plot }}
</li>
<li>
    duration = {{ movie_obj.movie.duration }}
</li>
<li>
    rating = {{ movie_obj.movie.rating }}
</li>

<li>
    genre = {{ movie_obj.movie.genre }}
</li>
        <li>
            release date = {{ movie_obj.movie.release_date }}
        </li>
        <li>
            popularity = {{ movie_obj.movie.popularity }}
        </li>
<li>
    <img src="{{ movie_obj.movie.poster }}" alt="No poster">
</li>
        <li>
            {% csrf_token %}
            {% if not movie_obj.like %}
                <button type="button" id="{{ movie_obj.movie.movie_id }}" onclick="like(this.id)">like</button>
            {% else %}
                <button type="button" id="{{ movie_obj.movie.movie_id }}" onclick="like(this.id)">dislike</button>
            {% endif %}
        </li>
    {% endfor %}
{% else %}
    <li>
        movie not found
    </li>
{% endif %}
</body>
</html>