{% extends 'movie_base.html' %}
{% load static %}
{% block content %}
<body>
<div class="space2">
    <div style="width:1000px;margin:80px auto;">
{% if movies %}
    {% for movie_obj in movies %}
        <li class="textonred">
            movie name : {{ movie_obj.movie.name }}
</li>
        <li class="textonred">
            plot : {{ movie_obj.movie.plot }}
</li>
        <li class="textonred">
            duration : {{ movie_obj.movie.duration }}
</li>
        <li class="textonred">
            rating : {{ movie_obj.movie.rating }}
</li>

        <li class="textonred">
            genre : {{ movie_obj.movie.genre }}
</li>
        <li class="textonred">
            release date : {{ movie_obj.movie.release_date }}
        </li>
        <div>
            {% if movie_obj.movie.poster %}
                <img src="{{ movie_obj.movie.poster }}" alt="cannot open poster">
            {% else %}
                <img src="{% static 'empty_poster.jpg' %}" style="width:300px;height:380px;">
            {% endif %}
        </div>
        <div>
            {% csrf_token %}
            {% if not movie_obj.like %}
                <button type="button" id="{{ movie_obj.movie.movie_id }}" onclick="like(this.id)">like</button>
            {% else %}
                <button type="button" id="{{ movie_obj.movie.movie_id }}" onclick="like(this.id)">dislike</button>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="textonred">
        movie not found
    </div>
{% endif %}
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function like(id) {
            $.ajax({
                url: "/movie/ajax/like",
                type: "POST",
                data: ({'movie': id}),
                success: function (content) {

                    var old_text = document.getElementById(id).innerText;
                    if (old_text == "like") {
                        document.getElementById(id).innerText = "dislike";
                    }
                    else {
                        document.getElementById(id).innerText = "like";
                    }

                }
            })
            return false;
        }
    </script>
</div>
</body>
{% endblock %}