<!DOCTYPE html>
<html>
    <head>
        <title>user who likes this movie</title>
        <link rel="stylesheet" href="static/user_likes_movie.css">
    </head>

    <body bgcolor="#330000">
        <div class="wrapper">
    <ul class="img-list">
        {% for u in users %}
  <li>
      <img src="{{ u.user.picture }}" width="150" height="150"/>
      <span class="text-content"><span>Age: {{ u.user.real_age }}</span>
      <span>Gender: {{ u.user.gender }}</span>
          <span>email: ***</span>
      </span>

      <a href="#like_history" class="follow">Like</a>
  </li>
        {% endfor %}

</ul>
        </div>

    </body>

</html>