<!DOCTYPE html>
<html>
    <head>
        <title>user who likes this movie</title>
        <link rel="stylesheet" href="static/user_likes_movie.css">
    </head>

    <body bgcolor="#330000">
        <div class="wrapper">
    <ul class="img-list">
  <li>
      <img src="../tinflix/static/1.png" width="150" height="150" />
      <span class="text-content"><span>Age: </span>
      <span>Gender: </span>
          <span>email: ***</span>
      </span>

      <a href="#like_history" class="follow">Like</a>
  </li>
        <li>
      <img src="../tinflix/static/1.png" width="150" height="150" />
      <span class="text-content"><span>Age: </span>
      <span>Gender: </span>
          <span>email: ***</span>
      </span>
            <a href="#like_history" class="follow">Like</a>
  </li>
        <li>
      <img src="../tinflix/static/1.png" width="150" height="150" />
      <span class="text-content"><span>Age: </span>
      <span>Gender: </span>
          <span>email: ***</span>
      </span>
            <a href="#like_history" class="follow">Like</a>
  </li>
        <li>
      <img src="../tinflix/static/1.png" width="150" height="150" />
      <span class="text-content"><span>Age: </span>
      <span>Gender: </span>
          <span>email: ***</span>
      </span>
            <a href="#like_history" class="follow">Like</a>
  </li>
</ul>
        </div>

    </body>

</html>