<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf"/>
        <title>tinflix</title>
        <link rel="stylesheet" href="static/template.css"/>
        <link rel="stylesheet" href="static/parallax.css"/>
        <link rel="stylesheet" href="static/imgeff.css"/>
    </head>

<body>
    <parallax>
        <div class="parallax-group">
            <img class="back1" src="static/background1.jpg" alt="">
            <h1>Tinder & Netflix</h1>
        <menu>
            <nav id="nav">
            <a class="link" href="mainpage.html">HOME</a>
            <a class="link" href="../../movie/templates/moviePage.html">MOVIES</a>
            <a class="link" href="../../tinflixer/templates/members.html">MEMBERS</a>
            <a class="link" href="#column_background">CONTACT</a>
                {% if not user or user.is_anonymous %}
                    <a class="link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">LOGIN</a>
                {% else %}
                    <a class="link" href="{% url 'auth:logout' %}?next={{ request.path }}">LOGOUT</a>
                <{% endif %}
            </nav>
        </menu>
            <header class="front1">
                <div class="img-background">
                    <img src="static/logo.JPG" />
                </div>
            </header>
            <div class="column_container">

                <div class="column_left" >
                    <h2>ABOUT US</h2>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    <div class="space"></div>
                </div>
                <div class="column_background"></div>




                <img class="back2" src="static/background2.JPG" alt="">
            </div>
            <header class="front2"></header>
        </div>
    </parallax>


        <gallery-left>

        <div class="gallery-left">
            <div class="img-single">
                <img src="static/1.jpg">
            </div>
        </div>
        <div class="gallery-left">
            <div class="img-single">
                <img src="static/2.jpg">
            </div>
        </div>
        <div class="gallery-left">
            <div class="img-single">
                <img src="static/3.jpg">
            </div>
        </div>

        </gallery-left>

        <gallery-middle>

        <div class="gallery-middle">
            <div class="img-single">
                <img src="static/4.jpg">
            </div>
            <div class="img-single">
                <img src="static/5.jpg">
            </div>
            <div class="img-single">
                <img src="static/6.jpg">
            </div>
        </div>

        </gallery-middle>

        <gallery-right>

        <div class="gallery-right">
            <div class="img-single">
                <img src="static/7.jpg">
            </div>
            <div class="img-single">
                <img src="static/8.jpg">
            </div>
            <div class="img-single">
                <img src="static/9.jpg">
            </div>
        </div>

        </gallery-right>
    </body>

</html>