<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf"/>
        <title>tinflix</title>
        <link rel="stylesheet" href="static/main_template.css"/>
        <link rel="stylesheet" href="static/para_template.css"/>
    </head>

<body>
    <parallax>
        <div class="parallax-group">
            <img class="back1" src="static/background1.JPG" alt="">
            <h1>The world of Tinflixers</h1>
        <menu>
        <a name="home"></a>
            <nav id="nav">
            <a class="link" href="#home">HOME</a>
                <a class="link" href="/movies">MOVIES</a>
                <a class="link" href="/profile">MEMBERS</a>
            <a class="link" href="#about_us">CONTACT</a>
                {% if not user or user.is_anonymous %}
                    <a class="link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">LOGIN</a>
                {% else %}
                    <a class="link" href="{% url 'auth:logout' %}?next={{ request.path }}">LOGOUT</a>
                {% endif %}
            </nav>
        </menu>
            <header class="front1">
                <div class="img-background">
                    <img src="static/logo.JPG" />
                </div>
            </header>
            <div class="column_container">
                <a name="about_us"></a>
                <div class="column_left" >
                    <h2>ABOUT US</h2>
                    <p>This website is proudly created by four undergraduate students in the University of Illinois at Urbana-Champaign. This website is not just a project, it a symbolism of our idea to bring people together by their favorite movies. Choose the movies you like and enjoy!</p><div class="space"></div>
                </div>
                <div class="column_background"></div>




                <img class="back2" src="static/background2.JPG" alt="">
            </div>
            <header class="front2">
                <div class="img-background">
                    <img src="static/copyright.jpg" width="150%" height="55%">
                </div>
            </header>
        </div>
    </parallax>



    </body>

</html>
