

<!DOCTYPE html>
<html>

    <head>
        <title> members</title>
        <link rel="stylesheet" href="static/memberstemplate.css">
        <link rel="stylesheet" href="static/membersnamecard.css">
        <link rel="stylesheet" href="static/memberlike.css">
        <link rel="stylesheet" href="static/memberinfo.css">
    </head>
    
<body>

<ul>
  <li><a class="menuimg"></a></li>
  <li><a class="active" href="mainpage.html">Home</a></li>
  <li><a href="#news">Profile</a></li>
  <li><a href="#contact">Check out who likes you</a></li>
  <li><a href="#about">Your like history</a></li>
</ul>
    <h1>Edit you profile and tell people somethings about your self</h1>
    
    <div class="minibackground1">
			
			
    </div>
    
    <div class="card">
			<div class="profile">
                <img src="{{ tinflixer.picture }}">
			</div>
        <div class="name"><p><a>{{ tinflixer.first_name }} {{ tinflixer.last_name }}</a></p></div>

        <form action="/profile">
			<div class="infoForm">
 			 <div class="b">First name:</div><br>
                <input type="text" name="first_name" value="{{ tinflixer.first_name }}">
 			 <br><br>

                <div class="b">Real Age:</div>
                <br>
                <input type="text" name="age" value="{{ tinflixer.real_age }}">
 			 <br><br>
			
 			 <div class="b">Gender:</div><br>
                <input type="text" name="gender" value="{{ tinflixer.gender }}">
 			 <br><br>
 			 
 			</div>
			<div class="infoForm2">
 			 
 			 <div class="b">Last name:</div><br>
                <input type="text" name="last_name" value="{{ tinflixer.last_name }}">
 			 <br><br>
 			 
 			 <div class="b">Address:</div><br>
 			 <input type="text" name="address" value="Address">
 			 <br><br>
 			 
 			 <div class="b">Gender preference:</div><br>
 			 <input type="text" name="genderPereference" value="Gender">
 			 
 			 <div class="submitButton"><input type="submit" value="Submit"></div>
 			 
 			</div>
 			 
 			 
			</form>
	</div>
    
    <likeu>
    <h2>Check out who likes you</h2>
        
        <div class="gallery-box">
            <div class="wrapper">
                
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    
                
                
            </div>
        </div>
    </likeu>
        
    

    
    
</body>
</html>
