

<!DOCTYPE html>
<html>

    <head>
        <title> members</title>
        <link rel="stylesheet" href="static/memberstemplate.css">
        <link rel="stylesheet" href="static/membersnamecard.css">
        <link rel="stylesheet" href="static/memberlike.css">
        <link rel="stylesheet" href="static/memberinfo.css">
    </head>
    
<body>

<ul>
  <li><a class="menuimg"></a></li>
  <li><a class="active" href="mainpage.html">Home</a></li>
  <li><a href="#news">Profile</a></li>
  <li><a href="#contact">Check out who likes you</a></li>
  <li><a href="#about">Your like history</a></li>
</ul>
    <h1>Edit you profile and tell people somethings about your self</h1>
    
    <div class="minibackground1">
			
			
    </div>
    
    <div class="card">
			<div class="profile">
				<img src="http://f.cl.ly/items/0z1w0L092q070Q180K3p/36a9325cb67f11e18bb812313804a181_7.jpeg">
			</div>
			<div class="name"><p><a href="#">Cole Townsend</a></p></div>
			
			<form action="action_page.php">
			<div class="infoForm">
 			 <div class="b">First name:</div><br>
 			 <input type="text" name="firstname" value="Firstname">
 			 <br><br>
			
 			 <div class="b">Birthday:</div><br>
 			 <input type="text" name="birthday" value="mm/dd/yyyy">
 			 <br><br>
			
 			 <div class="b">Gender:</div><br>
 			 <input type="text" name="gender" value="Gender">
 			 <br><br>
			
 			 <div class="b">Phone number:</div><br>
 			 <input type="text" name="birthday" value="phone number">
 			 <br><br>
 			 
 			</div>
			<div class="infoForm2">
 			 
 			 <div class="b">Last name:</div><br>
 			 <input type="text" name="lastname" value="Lastname">
 			 <br><br>
 			 
 			 <div class="b">Address:</div><br>
 			 <input type="text" name="address" value="Address">
 			 <br><br>
 			 
 			 <div class="b">Gender preference:</div><br>
 			 <input type="text" name="genderPereference" value="Gender">
 			 
 			 <div class="submitButton"><input type="submit" value="Submit"></div>
 			 
 			</div>
 			 
 			 
			</form>
	</div>
    
    <likeu>
    <h2>Check out who likes you</h2>
        
        <div class="gallery-box">
            <div class="wrapper">
                
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    <dic class="img-single">
                        <img src="static/1.png">
                        <a href="#" class="follow">Like</a>
                    </dic>
                    
                
                
            </div>
        </div>
    </likeu>
        
    

    
    
</body>
</html>
