<!DOCTYPE html>
<html>

    <head>
        <title> members</title>
        <link rel="stylesheet" href="static/memberstemplate.css">
        <link rel="stylesheet" href="static/membercard.css">
        <link rel="stylesheet" href="static/memberlike.css">
    </head>

<ul class="menu">
  <li><a class="menuimg"></a></li>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#like_history">Your like history</a></li>
</ul>
    <a name="profile"></a>
    <h1>Edit you profile and tell people somethings about your self</h1>

    <div class="minibackground1">


    </div>

    <div class="card">
			<div class="profile">
                <img src="{{ tinflixer.picture }}">
			</div>
        <div class="name"><p><a>{{ tinflixer.first_name }} {{ tinflixer.last_name }}</a></p></div>

        <form action="/profile" method="post">
            {% csrf_token %}
			<div class="infoForm">
 			 <div class="b">First name:</div><br>
                <input type="text" name="first_name" value="{{ tinflixer.first_name }}">
 			 <br><br>

                <div class="b">Real Age:</div>
                <br>
                <input type="text" name="age" value="{{ tinflixer.real_age }}">
 			 <br><br>

 			 <div class="b">Gender:</div><br>
                <select class="form-dropdown" style="width:150px" id="input_14" name="gender">
                    <option value=""></option>
                    <option value="male"> male</option>
                    <option value="female"> female</option>
                </select>
 			 <br><br>

                <div class="b">Email:</div><br>
                <input type="text" name="age" value="{{ tinflixer.email }}">
                <br><br>

 			</div>
			<div class="infoForm2">

 			 <div class="b">Last name:</div><br>
                <input type="text" name="last_name" value="{{ tinflixer.last_name }}">
 			 <br><br>

                <div class="b">State:</div>
                <br>
                <select name="state" id="input_5_state" value="{{ tinflixer.state }}">
                    <option value="" selected> Please Select</option>
                    <option value="Alabama"> Alabama</option>
                    <option value="Alaska"> Alaska</option>
                    <option value="Arizona"> Arizona</option>
                    <option value="Arkansas"> Arkansas</option>
                    <option value="California"> California</option>
                    <option value="Colorado"> Colorado</option>
                    <option value="Connecticut"> Connecticut</option>
                    <option value="Delaware"> Delaware</option>
                    <option value="District of Columbia"> District of Columbia</option>
                    <option value="Florida"> Florida</option>
                    <option value="Georgia"> Georgia</option>
                    <option value="Hawaii"> Hawaii</option>
                    <option value="Idaho"> Idaho</option>
                    <option value="Illinois"> Illinois</option>
                    <option value="Indiana"> Indiana</option>
                    <option value="Iowa"> Iowa</option>
                    <option value="Kansas"> Kansas</option>
                    <option value="Kentucky"> Kentucky</option>
                    <option value="Louisiana"> Louisiana</option>
                    <option value="Maine"> Maine</option>
                    <option value="Maryland"> Maryland</option>
                    <option value="Massachusetts"> Massachusetts</option>
                    <option value="Michigan"> Michigan</option>
                    <option value="Minnesota"> Minnesota</option>
                    <option value="Mississippi"> Mississippi</option>
                    <option value="Missouri"> Missouri</option>
                    <option value="Montana"> Montana</option>
                    <option value="Nebraska"> Nebraska</option>
                    <option value="Nevada"> Nevada</option>
                    <option value="New Hampshire"> New Hampshire</option>
                    <option value="New Jersey"> New Jersey</option>
                    <option value="New Mexico"> New Mexico</option>
                    <option value="New York"> New York</option>
                    <option value="North Carolina"> North Carolina</option>
                    <option value="North Dakota"> North Dakota</option>
                    <option value="Ohio"> Ohio</option>
                    <option value="Oklahoma"> Oklahoma</option>
                    <option value="Oregon"> Oregon</option>
                    <option value="Pennsylvania"> Pennsylvania</option>
                    <option value="Rhode Island"> Rhode Island</option>
                    <option value="South Carolina"> South Carolina</option>
                    <option value="South Dakota"> South Dakota</option>
                    <option value="Tennessee"> Tennessee</option>
                    <option value="Texas"> Texas</option>
                    <option value="Utah"> Utah</option>
                    <option value="Vermont"> Vermont</option>
                    <option value="Virginia"> Virginia</option>
                    <option value="Washington"> Washington</option>
                    <option value="West Virginia"> West Virginia</option>
                    <option value="Wisconsin"> Wisconsin</option>
                    <option value="Wyoming"> Wyoming</option>
                </select>
 			 <br><br>

                <div class="b">City:</div>
                <br>
                <input type="text" name="city" value="{{ tinflixer.city }}">
                <br><br>

                <div class="b">Address:</div>
                <br>
                <input type="text" name="city" value="{{ tinflixer.address }}">
                <br><br>

 			 <div class="submitButton"><input type="submit" value="Submit"></div>

 			</div>


			</form>
	</div>
    <a name="like_history"></a>
    <h2>Check out who likes you</h2>

                <div class="gallery-box">
        <div class="wrapper">
    <ul class="img-list">
        {% for tinflixer in users %}
  <li>
            <img src="{{ tinflixer.user.picture }}" width="150" height="150"/>
            <span class="text-content"><span>Age: {{ tinflixer.user.real_age }}</span>
      <span>Gender: {{ tinflixer.user.gender }}</span>
                {% if tinflixer.relation %}
                    <span id="{{ tinflixer.user.email }}">email: {{ tinflixer.user.email }}</span>
                {% else %}
                    <span id="{{ tinflixer.user.email }}">email: ***</span>

                {% endif %}
      </span>
            <a href="javascript:like('{{ tinflixer.user.email }}')" class="follow">Like</a>
        {% endfor %}
</ul>
        </div>
    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function like(email) {
            $.ajax({
                url: "/user/ajax/like",
                type: "POST",
                data: ({'email': email}),
                success: function (content) {
                    if (content.content) {
                        document.getElementById(email).innerText = "email: " + email;
                    }
                    else {
                        document.getElementById(email).innerText = "email: ***";
                    }


                }
            })
            return false;
        }
    </script>
</html>
