 {% block main %}
<html>
    <head>
        <meta charset="utf"/>
        <title> Test</title>
        <link rel="stylesheet" href="position.css"/>
    </head>
 <div>
 <h1>Third-party authentication demo</h1>
 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" style="text-decoration:none">
          <P><font size="6" face="Fantasy" color="grey">
             <div style="
             text-align:right;
             width:px;
             border:0px ;
             position:fixed;
             top:130px;
             right:100px;
             background-color: blue">Login with Facebook 
             </div></font></P>
       </a>
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
 </html>
{% endblock %}
